/* body */
body {
    background-color: #fff9de;
    margin: 0;
}

/* 網站標題 */
h1 {
    font-size: 1em;
    color: #6b3008;
    text-align: center;
}

/* 標題 */
h2 {
    text-align: center;
}

h3 {
    border-left: solid 6px #6b3008;
    padding-left: 6px;
}

/* 回到本頁開頭 */
.pagetop {
    text-align: right;
}

/* 著作權資訊 */
.copyright {
    border-top: solid 3px #000000;
    text-align: center;
}

/* article */
article {
    padding: 32px 16px;
}

/* 簡介調整了背景色與文字顏色 */
#profile {
    background-color: #6b3008;
    color: #ffffff;
}

/* section */
section {
    margin: 48px 0;
}

/* 演出者的section */
.performer {
    margin: 0 0 24px;
}

/* 表格 */
table {
    border-collapse: collapse;
    width: 100%;
}
th,td {
    border: solid 1px #999999;
    padding: 16px;
}
th {
    background-color: #62d5e8;
}

/* 列表 */
ol li {
    list-style-type: upper-roman;
}
