/* body */
body {
    background-color: #fff9de;
}

/* 網站標題 */
h1 {
    font-size: 1em;
    color: #6b3008;
    text-align: center;
}

/* 標題 */
h2 {
    text-align: center;
}

h3 {
    border-left: solid 6px #6b3008;
}